<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="products">
      <span class="tab-icon-wrapper" [class.tab-icon-wrapper--selected]="isTabSelected('products')">
        <img src="/assets/images/save-money.svg" alt="Mis productos" class="tab-icon" />
      </span>
      <ion-label>Mis productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transactions">
      <span class="tab-icon-wrapper" [class.tab-icon-wrapper--selected]="isTabSelected('transactions')">
        <img src="/assets/images/pay.svg" alt="Transacciones" class="tab-icon" />
      </span>
      <ion-label>Transacciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="offers">
      <span class="tab-icon-wrapper" [class.tab-icon-wrapper--selected]="isTabSelected('offers')">
        <img src="/assets/images/offers.svg" alt="Ofertas" class="tab-icon" />
      </span>
      <ion-label>Ofertas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <span class="tab-icon-wrapper" [class.tab-icon-wrapper--selected]="isTabSelected('settings')">
        <img src="/assets/images/config.svg" alt="Configuración" class="tab-icon" />
      </span>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
