<ion-header class="page-header ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard/products" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle del producto</ion-title>
  </ion-toolbar>
  <div class="page-header-divider"></div>
</ion-header>

<ion-content class="page-content page-content--product-detail" [fullscreen]="true">
  @if (product) {
    <app-product-card [product]="product" [clickable]="false" />
    <app-screen-placeholder screenName="Detalle del producto" marginTop="default" subtitleVariant="full" />
  }
</ion-content>
