.detail-texts {
  margin-top: 100px;
  font-family: var(--font-family-primary);
  font-weight: 400;
  color: var(--color-border);
  text-align: center;

  &--compact {
    margin-top: 195px;
  }

  &__title {
    margin: 0 0 30px 0;
    font-size: var(--font-size-xl);
  }

  &__subtitle {
    margin: 0;
    font-size: var(--font-size-sm);
  }
}
